test_data/WSDL/auto_gen_patientMonitoringDB.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ArrayList.add="http://140.112.90.144:7122/java/util/ArrayList/add-java_util_ArrayList-java_lang_Object"
	xmlns:ArrayList.initMethod="http://140.112.90.144:7122/java/util/ArrayList/initMethod"
	xmlns:BloodPressureSafeRange.initMethod="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/BloodPressureSafeRange/initMethod-double-double"
	xmlns:BloodPressureSensor.initMethod="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/BloodPressureSensor/initMethod-java_lang_String-java_lang_String"
	xmlns:DatabaseManager.createTable="http://140.112.90.144:7122/database/manager/DatabaseManager/createTable-model_TableObject"
	xmlns:DatabaseManager.retrieveWithRestrictionInOrder="http://140.112.90.144:7122/database/manager/DatabaseManager/retrieveWithRestrictionInOrder-java_lang_String-java_util_List-java_util_List"
	xmlns:DatabaseManager.save="http://140.112.90.144:7122/database/manager/DatabaseManager/save-model_DatabaseObject"
	xmlns:DatabaseObject.get="http://140.112.90.144:7122/database/model/DatabaseObject/get-java_lang_String"
	xmlns:DatabaseObject.initMethod="http://140.112.90.144:7122/database/model/DatabaseObject/initMethod-java_lang_String"
	xmlns:DatabaseObject.putDouble="http://140.112.90.144:7122/database/model/DatabaseObject/putDouble-java_lang_String-java_lang_Double"
	xmlns:DatabaseObject.putInteger="http://140.112.90.144:7122/database/model/DatabaseObject/putInteger-java_lang_String-java_lang_Integer"
	xmlns:Entry.getKey="http://140.112.90.144:7122/java/util/Map$Entry/getKey-java_util_Map$Entry"
	xmlns:Entry.getValue="http://140.112.90.144:7122/java/util/Map$Entry/getValue-java_util_Map$Entry"
	xmlns:FactorMonitor.addPatient="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/FactorMonitor/addPatient-PatientMonitor_Patient"
	xmlns:FactorMonitor.getDatas="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/FactorMonitor/getDatas"
	xmlns:FactorMonitor.getPatients="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/FactorMonitor/getPatients"
	xmlns:FactorMonitor.initMethod="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/FactorMonitor/initMethod-long"
	xmlns:FactorMonitor.monitor="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/FactorMonitor/monitor"
	xmlns:HashMap.entrySet="http://140.112.90.144:7122/java/util/HashMap/entrySet-java_util_HashMap"
	xmlns:Iterator.hasNext="http://140.112.90.144:7122/java/util/Iterator/hasNext-java_util_Iterator"
	xmlns:Iterator.initMethod="http://140.112.90.144:7122/java/util/Iterator/initMethod-java_lang_Iterable"
	xmlns:Iterator.next="http://140.112.90.144:7122/java/util/Iterator/next-java_util_Iterator"
	xmlns:Object.hashCode="http://140.112.90.144:7122/java/lang/Object/hashCode-java_lang_Object"
	xmlns:OrderOperation.ascending="http://140.112.90.144:7122/database/model/OrderOperation/ascending-java_lang_String"
	xmlns:Pair.getTime="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/Pair/getTime"
	xmlns:Pair.getValue="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/Pair/getValue"
	xmlns:Patient.attachSensor="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/Patient/attachSensor-PatientMonitor_Sensor-PatientMonitor_SafeRange"
	xmlns:Patient.getName="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/Patient/getName"
	xmlns:Patient.getSensors="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/Patient/getSensors"
	xmlns:Patient.initMethod="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/Patient/initMethod-java_lang_String-int"
	xmlns:PulseSafeRange.initMethod="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/PulseSafeRange/initMethod-double-double"
	xmlns:PulseSensor.initMethod="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/PulseSensor/initMethod-java_lang_String-java_lang_String"
	xmlns:Restriction.equal="http://140.112.90.144:7122/database/model/Restriction/equal-java_lang_String-java_lang_Comparable"
	xmlns:Sensor.getSensorName="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/Sensor/getSensorName"
	xmlns:Sensor.hashCode="http://140.112.90.144:7122/java/lang/Object/hashCode-java_lang_Object"
	xmlns:StringBuilder.append="http://140.112.90.144:7122/java/lang/StringBuilder/append-java_lang_StringBuilder-java_lang_Object"
	xmlns:StringBuilder.initMethod="http://140.112.90.144:7122/java/lang/StringBuilder/initMethod"
	xmlns:StringBuilder.toString="http://140.112.90.144:7122/java/lang/StringBuilder/toString-java_lang_StringBuilder"
	xmlns:TableObject.initMethod="http://140.112.90.144:7122/database/model/TableObject/initMethod-java_lang_String"
	xmlns:TableObject.setSchema="http://140.112.90.144:7122/database/model/TableObject/setSchema-java_lang_String-java_lang_String"
	xmlns:TemperatureSafeRange.initMethod="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/TemperatureSafeRange/initMethod-double-double"
	xmlns:TemperatureSensor.initMethod="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/TemperatureSensor/initMethod-java_lang_String-java_lang_String"
	xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
	xmlns:tns="./testdata/patientMonitoringDB.bpel"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlbpel="http://schemas.xmlsoap.org/wsdl/bpel/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="./testdata/patientMonitoringDB.bpel">
	<message name="temperatureSensorRequest">
		<part name="sensorName" type="xsd:string"/>
		<part name="fileName" type="xsd:string"/>
		<part name="lowerBound" type="xsd:double"/>
		<part name="upperBound" type="xsd:double"/>
	</message>
	<message name="patientRequest">
		<part name="name" type="xsd:string"/>
		<part name="frequency" type="xsd:int"/>
	</message>
	<message name="start">
		<part name="start" type="xsd:boolean"/>
	</message>
	<message name="bloodPressureSensorRequest">
		<part name="sensorName" type="xsd:string"/>
		<part name="fileName" type="xsd:string"/>
		<part name="lowerBound" type="xsd:double"/>
		<part name="upperBound" type="xsd:double"/>
	</message>
	<message name="pulseSensorRequest">
		<part name="sensorName" type="xsd:string"/>
		<part name="fileName" type="xsd:string"/>
		<part name="lowerBound" type="xsd:double"/>
		<part name="upperBound" type="xsd:double"/>
	</message>
	<message name="setTimeRequest">
		<part name="readSec" type="xsd:long"/>
	</message>
	<message name="inputEndRequest">
		<part name="end" type="xsd:boolean"/>
	</message>
	<portType name="startInteractionPort">
		<operation name="start">
			<input message="tns:start" name="in"/>
		</operation>
	</portType>
	<portType name="pageInteractionPort">
		<operation name="temperatureSensor">
			<input message="tns:temperatureSensorRequest" name="in"/>
		</operation>
		<operation name="patient">
			<input message="tns:patientRequest" name="in"/>
		</operation>
		<operation name="bloodPressureSensor">
			<input message="tns:bloodPressureSensorRequest" name="in"/>
		</operation>
		<operation name="pulseSensor">
			<input message="tns:pulseSensorRequest" name="in"/>
		</operation>
		<operation name="setTime">
			<input message="tns:setTimeRequest" name="in"/>
		</operation>
		<operation name="inputEnd">
			<input message="tns:inputEndRequest" name="in"/>
		</operation>
	</portType>
	<message name="outputPort.output">
		<part name="message" type="xsd:string"/>
	</message>
	<portType name="outputPort">
		<operation name="output">
			<input message="tns:outputPort.output" name="in"/>
		</operation>
	</portType>
	<service name="./test_data/BPEL/patientMonitoringDB.bpel">
		<wsdlbpel:address bpel="./test_data/BPEL/auto_gen_patientMonitoringDB.bpel" wsdl="./test_data/WSDL/auto_gen_patientMonitoringDB.wsdl"/>
	</service>
	<import location="http://140.112.90.144/wsdl/java/lang/StringBuilder/initMethod.wsdl" namespace="http://140.112.90.144:7122/java/lang/StringBuilder/initMethod"/>
	<import location="http://140.112.90.144/wsdl/java/lang/StringBuilder/toString-java_lang_StringBuilder.wsdl" namespace="http://140.112.90.144:7122/java/lang/StringBuilder/toString-java_lang_StringBuilder"/>
	<import location="http://140.112.90.144/wsdl/java/lang/StringBuilder/append-java_lang_StringBuilder-java_lang_Object.wsdl" namespace="http://140.112.90.144:7122/java/lang/StringBuilder/append-java_lang_StringBuilder-java_lang_Object"/>
	<import location="http://140.112.90.144/wsdl/java/util/HashMap/entrySet-java_util_HashMap.wsdl" namespace="http://140.112.90.144:7122/java/util/HashMap/entrySet-java_util_HashMap"/>
	<import location="http://140.112.90.144/wsdl/database/model/TableObject/initMethod-java_lang_String.wsdl" namespace="http://140.112.90.144:7122/database/model/TableObject/initMethod-java_lang_String"/>
	<import location="http://140.112.90.144/wsdl/database/model/TableObject/setSchema-java_lang_String-java_lang_String.wsdl" namespace="http://140.112.90.144:7122/database/model/TableObject/setSchema-java_lang_String-java_lang_String"/>
	<import location="http://140.112.90.144/wsdl/java/util/ArrayList/add-java_util_ArrayList-java_lang_Object.wsdl" namespace="http://140.112.90.144:7122/java/util/ArrayList/add-java_util_ArrayList-java_lang_Object"/>
	<import location="http://140.112.90.144/wsdl/java/util/ArrayList/initMethod.wsdl" namespace="http://140.112.90.144:7122/java/util/ArrayList/initMethod"/>
	<import location="http://140.112.90.144/wsdl/PatientMonitorGradleDatabase/PatientMonitor/TemperatureSafeRange/initMethod-double-double.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/TemperatureSafeRange/initMethod-double-double"/>
	<import location="http://140.112.90.144/wsdl/PatientMonitorGradleDatabase/PatientMonitor/BloodPressureSensor/initMethod-java_lang_String-java_lang_String.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/BloodPressureSensor/initMethod-java_lang_String-java_lang_String"/>
	<import location="http://140.112.90.144/wsdl/java/util/Map%24Entry/getValue-java_util_Map%24Entry.wsdl" namespace="http://140.112.90.144:7122/java/util/Map$Entry/getValue-java_util_Map$Entry"/>
	<import location="http://140.112.90.144/wsdl/java/util/Map%24Entry/getKey-java_util_Map%24Entry.wsdl" namespace="http://140.112.90.144:7122/java/util/Map$Entry/getKey-java_util_Map$Entry"/>
	<import location="http://140.112.90.144/wsdl/PatientMonitorGradleDatabase/PatientMonitor/PulseSafeRange/initMethod-double-double.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/PulseSafeRange/initMethod-double-double"/>
	<import location="http://140.112.90.144/wsdl/java/util/Iterator/next-java_util_Iterator.wsdl" namespace="http://140.112.90.144:7122/java/util/Iterator/next-java_util_Iterator"/>
	<import location="http://140.112.90.144/wsdl/java/util/Iterator/initMethod-java_lang_Iterable.wsdl" namespace="http://140.112.90.144:7122/java/util/Iterator/initMethod-java_lang_Iterable"/>
	<import location="http://140.112.90.144/wsdl/java/util/Iterator/hasNext-java_util_Iterator.wsdl" namespace="http://140.112.90.144:7122/java/util/Iterator/hasNext-java_util_Iterator"/>
	<import location="http://140.112.90.144/wsdl/database/model/DatabaseObject/putInteger-java_lang_String-java_lang_Integer.wsdl" namespace="http://140.112.90.144:7122/database/model/DatabaseObject/putInteger-java_lang_String-java_lang_Integer"/>
	<import location="http://140.112.90.144/wsdl/database/model/DatabaseObject/initMethod-java_lang_String.wsdl" namespace="http://140.112.90.144:7122/database/model/DatabaseObject/initMethod-java_lang_String"/>
	<import location="http://140.112.90.144/wsdl/database/model/DatabaseObject/get-java_lang_String.wsdl" namespace="http://140.112.90.144:7122/database/model/DatabaseObject/get-java_lang_String"/>
	<import location="http://140.112.90.144/wsdl/database/model/DatabaseObject/putDouble-java_lang_String-java_lang_Double.wsdl" namespace="http://140.112.90.144:7122/database/model/DatabaseObject/putDouble-java_lang_String-java_lang_Double"/>
	<import location="http://140.112.90.144/wsdl/PatientMonitorGradleDatabase/PatientMonitor/PulseSensor/initMethod-java_lang_String-java_lang_String.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/PulseSensor/initMethod-java_lang_String-java_lang_String"/>
	<import location="http://140.112.90.144/wsdl/PatientMonitorGradleDatabase/PatientMonitor/FactorMonitor/initMethod-long.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/FactorMonitor/initMethod-long"/>
	<import location="http://140.112.90.144/wsdl/PatientMonitorGradleDatabase/PatientMonitor/FactorMonitor/addPatient-PatientMonitor_Patient.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/FactorMonitor/addPatient-PatientMonitor_Patient"/>
	<import location="http://140.112.90.144/wsdl/PatientMonitorGradleDatabase/PatientMonitor/FactorMonitor/getPatients.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/FactorMonitor/getPatients"/>
	<import location="http://140.112.90.144/wsdl/PatientMonitorGradleDatabase/PatientMonitor/FactorMonitor/monitor.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/FactorMonitor/monitor"/>
	<import location="http://140.112.90.144/wsdl/PatientMonitorGradleDatabase/PatientMonitor/FactorMonitor/getDatas.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/FactorMonitor/getDatas"/>
	<import location="http://140.112.90.144/wsdl/PatientMonitorGradleDatabase/PatientMonitor/BloodPressureSafeRange/initMethod-double-double.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/BloodPressureSafeRange/initMethod-double-double"/>
	<import location="http://140.112.90.144/wsdl/PatientMonitorGradleDatabase/PatientMonitor/Pair/getValue.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/Pair/getValue"/>
	<import location="http://140.112.90.144/wsdl/PatientMonitorGradleDatabase/PatientMonitor/Pair/getTime.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/Pair/getTime"/>
	<import location="http://140.112.90.144/wsdl/database/manager/DatabaseManager/retrieveWithRestrictionInOrder-java_lang_String-java_util_List-java_util_List.wsdl" namespace="http://140.112.90.144:7122/database/manager/DatabaseManager/retrieveWithRestrictionInOrder-java_lang_String-java_util_List-java_util_List"/>
	<import location="http://140.112.90.144/wsdl/database/manager/DatabaseManager/createTable-model_TableObject.wsdl" namespace="http://140.112.90.144:7122/database/manager/DatabaseManager/createTable-model_TableObject"/>
	<import location="http://140.112.90.144/wsdl/database/manager/DatabaseManager/save-model_DatabaseObject.wsdl" namespace="http://140.112.90.144:7122/database/manager/DatabaseManager/save-model_DatabaseObject"/>
	<import location="http://140.112.90.144/wsdl/PatientMonitorGradleDatabase/PatientMonitor/Patient/initMethod-java_lang_String-int.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/Patient/initMethod-java_lang_String-int"/>
	<import location="http://140.112.90.144/wsdl/PatientMonitorGradleDatabase/PatientMonitor/Patient/getName.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/Patient/getName"/>
	<import location="http://140.112.90.144/wsdl/PatientMonitorGradleDatabase/PatientMonitor/Patient/getSensors.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/Patient/getSensors"/>
	<import location="http://140.112.90.144/wsdl/PatientMonitorGradleDatabase/PatientMonitor/Patient/attachSensor-PatientMonitor_Sensor-PatientMonitor_SafeRange.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/Patient/attachSensor-PatientMonitor_Sensor-PatientMonitor_SafeRange"/>
	<import location="http://140.112.90.144/wsdl/PatientMonitorGradleDatabase/PatientMonitor/TemperatureSensor/initMethod-java_lang_String-java_lang_String.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/TemperatureSensor/initMethod-java_lang_String-java_lang_String"/>
	<import location="http://140.112.90.144/wsdl/database/model/Restriction/equal-java_lang_String-java_lang_Comparable.wsdl" namespace="http://140.112.90.144:7122/database/model/Restriction/equal-java_lang_String-java_lang_Comparable"/>
	<import location="http://140.112.90.144/wsdl/database/model/OrderOperation/ascending-java_lang_String.wsdl" namespace="http://140.112.90.144:7122/database/model/OrderOperation/ascending-java_lang_String"/>
	<import location="http://140.112.90.144/wsdl/java/lang/Object/hashCode-java_lang_Object.wsdl" namespace="http://140.112.90.144:7122/java/lang/Object/hashCode-java_lang_Object"/>
	<import location="http://140.112.90.144/wsdl/java/lang/Object/hashCode-java_lang_Object.wsdl" namespace="http://140.112.90.144:7122/java/lang/Object/hashCode-java_lang_Object"/>
	<import location="http://140.112.90.144/wsdl/PatientMonitorGradleDatabase/PatientMonitor/Sensor/getSensorName.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradleDatabase/PatientMonitor/Sensor/getSensorName"/>
</definitions>