test_data/WSDL/patientMonitoringMultipage/patientMonitoringPatient.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace="User://patientMonitoringPatient" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:tns="User://patientMonitoring" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlbpel="http://schemas.xmlsoap.org/wsdl/bpel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:PatientMonitor_FactorMonitor_initMethod="http://140.112.90.144:7122/PatientMonitorGradle/PatientMonitor/FactorMonitor/initMethod-long" xmlns:PatientMonitor_Patient_initMethod="http://140.112.90.144:7122/PatientMonitorGradle/PatientMonitor/Patient/initMethod-java_lang_String-int">
    <message name="sensorCommand">
        <part type="xsd:string" name="device_name"/>
        <part type="xsd:string" name="factor_dataset_file"/>
        <part type="xsd:double" name="safe_range_lower_bound"/>
        <part type="xsd:double" name="safe_range_upper_bound"/>
    </message>
    <portType name="interactionPort">
        <operation name="start">
            <input message="PatientMonitor_FactorMonitor_initMethod:initMethodResponse" name="in"/>
        </operation>
        <operation name="patient">
            <input message="PatientMonitor_Patient_initMethod:initMethodRequest" name="in"/>
        </operation>
        <operation name="PulseSensor">
            <input message="tns:sensorCommand" name="in"/>
        </operation>
        <operation name="BloodPressureSensor">
            <input message="tns:sensorCommand" name="in"/>
        </operation>
        <operation name="TemperatureSensor">
            <input message="tns:sensorCommand" name="in"/>
        </operation>
    </portType>
    <service name="patientMonitoringPatient">
        <wsdlbpel:address bpel="test_data/BPEL/patientMonitoringMultipage/patientMonitoringPatient.bpel" wsdl="test_data/WSDL/patientMonitoringMultipage/cc.wsdl"/>
    </service>
    <import location="http://140.112.90.144/wsdl/PatientMonitorGradle/PatientMonitor/FactorMonitor/initMethod-long.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradle/PatientMonitor/FactorMonitor/initMethod-long"/>
    <import location="http://140.112.90.144/wsdl/PatientMonitorGradle/PatientMonitor/FactorMonitor/addPatient-PatientMonitor_Patient.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradle/PatientMonitor/FactorMonitor/addPatient-PatientMonitor_Patient"/>
    <import location="http://140.112.90.144/wsdl/PatientMonitorGradle/PatientMonitor/Patient/initMethod-java_lang_String-int.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradle/PatientMonitor/Patient/initMethod-java_lang_String-int"/>
    <import location="http://140.112.90.144/wsdl/PatientMonitorGradle/PatientMonitor/Patient/attachSensor-PatientMonitor_Sensor-PatientMonitor_SafeRange.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradle/PatientMonitor/Patient/attachSensor-PatientMonitor_Sensor-PatientMonitor_SafeRange"/>
    <import location="http://140.112.90.144/wsdl/PatientMonitorGradle/PatientMonitor/PulseSensor/initMethod-java_lang_String-java_lang_String.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradle/PatientMonitor/PulseSensor/initMethod-java_lang_String-java_lang_String"/>
    <import location="http://140.112.90.144/wsdl/PatientMonitorGradle/PatientMonitor/PulseSafeRange/initMethod-double-double.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradle/PatientMonitor/PulseSafeRange/initMethod-double-double"/>
    <import location="http://140.112.90.144/wsdl/PatientMonitorGradle/PatientMonitor/BloodPressureSensor/initMethod-java_lang_String-java_lang_String.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradle/PatientMonitor/BloodPressureSensor/initMethod-java_lang_String-java_lang_String"/>
    <import location="http://140.112.90.144/wsdl/PatientMonitorGradle/PatientMonitor/BloodPressureSafeRange/initMethod-double-double.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradle/PatientMonitor/BloodPressureSafeRange/initMethod-double-double"/>
    <import location="http://140.112.90.144/wsdl/PatientMonitorGradle/PatientMonitor/TemperatureSensor/initMethod-java_lang_String-java_lang_String.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradle/PatientMonitor/TemperatureSensor/initMethod-java_lang_String-java_lang_String"/>
    <import location="http://140.112.90.144/wsdl/PatientMonitorGradle/PatientMonitor/TemperatureSafeRange/initMethod-double-double.wsdl" namespace="http://140.112.90.144:7122/PatientMonitorGradle/PatientMonitor/TemperatureSafeRange/initMethod-double-double"/>
</definitions>